autopep8==1.5.4
blinker==1.4
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.2
click==7.1.2
cryptography==3.2
Flask==1.1.2
h11==0.10.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
kaitaistruct==0.8
ldap3==2.7
MarkupSafe==1.1.1
mitmproxy==5.2
passlib==1.7.2
protobuf==3.11.3
publicsuffix2==2.20191221
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
sortedcontainers==2.1.0
toml==0.10.1
tornado==6.0.4
urwid==2.0.1
utils==1.0.1
Werkzeug==1.0.1
wsproto==0.15.0
zstandard==0.13.0
